


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.topbar {
    display: grid;
    background-color: #bdad9b;
    color: #8b6f6f;
    text-align: center;
    padding: 15px;
}


.navbar {
  background-color: #444;
  display: flex;
  justify-content: center;
  padding: 10px;

}

.navbutton-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 10px 10px; /* Add padding for spacing */
    
  }
  
.navbutton-container button {

    flex: 1 0 0; /* Allow buttons to grow and shrink equally */
    max-width: 33.33%; /* Limit the maximum width of each button */
    max-height: 33.33%; /* Limit the maximum width of each button */
    font-size: 26px;
    background-color: #f9c381;
    color: #fff; /* Change the text color */
    padding: 12px 24px; /* Adjust padding for better button size */
    margin: 5px; /* Add some spacing between buttons */
    border: none;
    cursor: pointer;
    border-radius: 8px; /* Add rounded corners to the buttons */
    }

button {
    max-width: 80%;
    font-size: 16px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}


.video {
    display: flex;
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
  }
  
  .video iframe {

    border: 0px;
    display: flex;
    justify-content: center;
    border: 5px solid #555;
    border-radius: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
 
    height:  30em; 
    max-width: 100%; /* prevent exceed from container */
  }




.button-container {
    display: flex;
    justify-content: center;
}
  
.custom-button {  
    background-color: #b1994c; /* Green background color */
    color: white; /* Text color */
    padding: 12px 20px; /* Padding around the text */
    font-size: 16px; /* Font size of the text */
    border: none; /* No border */
    cursor: pointer; /* Show a pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
  }
  
  /* different background color on hover */
  .custom-button:hover {
    background-color: #d1be68;
  }
  
  /* different background color when the button is clicked */
  .custom-button:active {
    background-color: #8e793e;
  }

  .summary-content {
    overflow: hidden;
    transition: max-height 0.8s ease; /* Adjust the duration as needed */
    width: 100%;
  }
  

.page {
  display: none;
  padding: 20px;
  background-color: #e2d2be;
}

.page.show {
  display: block;
}


  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    margin-top: -20px; /* Compensate for the topbar height */
    background-color: #6f86c7;
}

.image-container {
    flex: 1;
    background-color: #d3e29c;
  }
  
.description-container {
    flex: 2;
    background-color: #d387c0;
}

.content {
    margin: 0 auto; /* Center the .content div horizontally */
    padding: 20px;
}


img {
    max-width: 80%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}




.box {
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 8px;
    margin: 10px;
}

.right {
    background-color: #ffddcc;
    justify-content: center;
    padding: 10px;
    width: 100%; 
}

.left {
    background-color: #eebfae;
    justify-content: center;
    padding: 10px;
    width: 100%; 
}

.right:nth-child(even) {
    position: relative;
   
}

.left:nth-child(odd) {
    position: relative;
  
}

.odd
{
    flex-direction: column;
    margin: 0 auto; 
    padding: 20px;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap; /* to the next line on smaller screens */
    background-color: #6f86c7;
}


.even
{
    flex-direction: column;
    margin: 0 auto; 
    padding: 20px;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap; /*  to wrap to the next line on smaller screens */
    background-color: #6f86c7;

}

.show {
    display: block;
}




.image-gallery {
    flex: 1; /* Take the available width in the .odd container */
    max-width: 600px; /* Set a maximum width for the .image-gallery */
    margin: 0 auto; /* Center the .image-gallery horizontally */
  }


  .gallery-nav {
    display: flex;
    align-items: center;
  }
  
  .gallery-nav button {
    flex: 1; /* Make the buttons take equal width */
  }

  .video-flex
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

@media screen and (max-width: 541px) 
{
    .navbutton-container button 
    {
        font-size: 14px;
    }

    .video iframe {
       
      width: 80%; 

    }

    .custom-button {
        font-size: 14px;
        padding: 10px 16px;
      } 

      .button-container {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center buttons horizontally */
      }

      .odd, .even {
        flex-direction: column;
      }

      .image-container {
        order: 1; /* Change the order to 1 to make it appear first */
      }
    
      .description-container {
        order: 2; /* Change the order to 2 to make it appear second */
      }

      .image-container,
      .description-container {
        flex: 1;
        /* Set both containers to take full width in mobile view */
        
      }
    

}
/* for computer */
@media screen and (min-width: 721px)
{
    .custom-button {
        font-size: 18px;
        padding: 14px 24px;
    } 
    .video iframe {
        width: 30em; 
        height:  30em; 
      }
}



